// tamaño predeterminado
@mixin scroll($height) {
    overflow-y: scroll;
    height: calc(100vh - $height);

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        transition-delay: 1s;
    }
    
    &:hover::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
        background-color: $color4;
        transition-delay: 1s;
    }
}

// tamaño maximo, de no llegar al tamaño, sera pequeño
@mixin max-scroll($height) {
    overflow-y: scroll;
    max-height: calc(100vh - $height);

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        transition-delay: 1s;
    }
    
    &:hover::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
        background-color: $color4;
        transition-delay: 1s;
    }
    
}

// tamaño estatico
@mixin static-scroll($height) {
    overflow-y: scroll;
    height: $height;
    max-height: $height;
    min-height: $height;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        transition-delay: 1s;
    }
    
    &:hover::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
        background-color: $color4;
        transition-delay: 1s;
    }
    
}


// forzar tamaño minimo
// tamaño predeterminado
@mixin min-scroll($height) {
    overflow-y: scroll;
    min-height: calc(100vh - $height);

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        transition-delay: 1s;
    }
    
    &:hover::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
        background-color: $color4;
        transition-delay: 1s;
    }
}

@mixin resume($width) {
    width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

@mixin box-resume($width) {
    width: $width;
    p{
        width: $width;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
    }
    /* display: inline-block; */
    /* margin: 0; */
    /* height: 18px; */
    /* padding: 0; */
    /* position: relative; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* color: #000; */
}


@mixin msgError() {
    position: absolute;
    text-align: left;
    left: 4px;
    top: 9px;
    width: 26px;
    height: 24px;
    
    svg{
        padding: 2px;
        border: 1px solid $warning;
        // background-color: ;
        color: $warning;
        font-size: 22px;
        border-radius: 50%;
        line-height: 0;
    }

    .error-message{
        width: 250px;
        transform: scale(0);
        position: absolute;
        left: 0;
        text-align: left;
    }
    
    svg:hover ~ .error-message,
    .error-message:hover{
        transform: scale(1);
        color: $warning;
        width: 250px;
        text-align: left;
    }    
}

@mixin cantidadCountCirculoRojo() {
    margin: 0;
    padding: 0;
    background-color: red;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    span{
        font-size: 12px;
        color: #fff;
        margin: 2px 0 0 0;
        padding: 0;
        display: flex;
    }
}

// forma de uso
// @include static-scroll($height);