// login
.index-login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(34,39,54);
    background: linear-gradient(45deg, $box 0%, $background 100%);
    // background: radial-gradient(circle, rgba(51,58,77,1) 0%, rgba(29,37,57,1) 100%);

    // background: url(../imgs/img-login.png) center right no-repeat fixed;
    // background-size: 40%;

    // background-image: linear-gradient(245deg, rgba(27, 27, 27, .04), rgba(27, 27, 27, .04) 93%, rgba(92, 92, 92, .04) 0, rgba(92, 92, 92, .04)),
    // linear-gradient(44deg, rgba(11, 11, 11, .04), rgba(11, 11, 11, .04) 39%, hsla(0, 0%, 72.9%, .04) 0, hsla(0, 0%, 72.9%, .04)),
    // linear-gradient(134deg, hsla(0, 0%, 69.8%, .04), hsla(0, 0%, 69.8%, .04) 95%, hsla(0, 0%, 92.9%, .04) 0, hsla(0, 0%, 92.9%, .04)),
    // linear-gradient(322deg, rgba(56, 56, 56, .04), rgba(56, 56, 56, .04) 58%, hsla(0, 0%, 91%, .04) 0, hsla(0, 0%, 91%, .04)),
    // linear-gradient(139deg, rgba(51, 51, 51, .04), rgba(51, 51, 51, .04) 62%, rgba(35, 35, 35, .04) 0, rgba(35, 35, 35, .04)),
    // linear-gradient(252deg, rgba(9, 9, 9, .04), rgba(9, 9, 9, .04) 39%, hsla(0, 0%, 68.2%, .04) 0, hsla(0, 0%, 68.2%, .04)),
    // linear-gradient(229deg, hsla(0, 0%, 94.5%, .04), hsla(0, 0%, 94.5%, .04) 2%, hsla(0, 0%, 54.9%, .04) 0, hsla(0, 0%, 54.9%, .04)),
    // linear-gradient(223deg, rgba(82, 82, 82, .04), rgba(82, 82, 82, .04) 36%, hsla(0, 0%, 89.8%, .04) 0, hsla(0, 0%, 89.8%, .04)),
    // linear-gradient(90deg, #060D31, #030611);

    .box-login{

        background: $boxT;
        padding: 5px 35px 35px 35px;
        border-radius: 15px;
        position: relative;

        h3{
            font-size: 50px;
            font-weight: 400;
            margin: 0;
        }
        
        .content-input{
            .item-input{
                height: 100%;
                display: flex;
                align-items: center;
                label{

                    // background-color: #31384d;
                    margin: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 8px 0 13px;
                    border-bottom: 1px solid #645c5b;

                    // background-color: $bg-input;
                    // height: 100%;
                    // display: flex;
                    // align-items: center;
                    // padding: 0 8px 0 13px;
                    // border-top-left-radius: 15px;
                    // border-bottom-left-radius: 15px;

                    svg{
                        font-size: 25px;
                        color: #645c5b;
                    }
                }
                input{

                    background-color: transparent;
                    border: none;
                    font-size: 19px;
                    text-align: left;
                    border-radius: 0;
                    padding: 12px 12px 12px 5px;
                    border-bottom: 1px solid #645c5b;
                    color: #a6b0cf!important;

                    // border: none;
                    // font-size: 19px;
                    // text-align: left;
                    // border-top-left-radius: 0px;
                    // border-bottom-left-radius: 0px;
                    // padding: 12px 12px 12px 5px;

                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover, 
                input:-webkit-autofill:focus, 
                input:-webkit-autofill:active{
                    box-shadow: 0 0 0 30px #292f41 inset !important;
                    -webkit-text-fill-color: $texto!important;;
                }

            }
        }
    
        .login-acceder{
            font-size: 19px;
            margin-top: 13px;
            svg{
                font-size: 25px;
            }
            
            // button{
            //     color: $texto-red;
            //     border: 2px solid $texto-red;
            // }
        }

        .msg-error-login{
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
        }

    }    
}


// 404

.page-404{
    height:100vh;
}


// layout

.layout {
    display: grid;
    grid-template-columns: $menu-width calc(100% - $menu-width);
}

// header

.header {
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    // display: flex;
    // align-items: center;
    background-color: $box2;
    padding: 10px 25px 0 25px;
    // padding: 0 25px;

    .icons-header{
        align-items: center;
    }

    svg{
        font-size: 25px;
        color: $secundary;
        cursor: pointer;
    }

    h1{
        margin: 0;
    }

    .user{
        display: flex;
        justify-content: flex-end;
        .box-user{
            display: flex;
            align-items: center;
            svg{
                margin: 0 5px 0 0;
            }
            span{
                display: flex;
                p{
                    margin: 0;
                    font-weight: 500;
                }
            }
            
        }
    }
    
}

// menu

.menu {
    
    height: 100vh;
    background-color: $box;

    .menu-top{
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 13px;
        h1{
            margin-bottom: 0;
        }
    }

    .menu-body{
        padding: 0 25px;
        @include scroll(100px);

        .box-menus{
            border-bottom: 1px solid #464d62;
            margin-bottom: 19px;
            .title-item-menu{
                color: $color4;
                margin-left: 5px;
                margin-bottom: 13px;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
            }
    
            ul.item-menu{
                a{
                    color: $texto;
                    &:hover{
                        color: $color1;
                    }
                }
                .activeMenu{
                    color: $color1;
                    svg{
                        color: $color1;
                    }
                }
                li{
                    list-style: none;                  
                    padding: 9px 0 9px 0;
                    svg{
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 25px;
                        color: $color3;
                        margin-right: 7px;
                    }
                    p{
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}


// main

.main {
    padding: 11px 22px;
    @include max-scroll(80px);
    
}

// page

.titulo-box{
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    .button-icon{
        font-size: 0;
        line-height: 0;
        margin-right: 10px;
        background: transparent;
        border: none;
        cursor: pointer;
        svg{
            color: $primary;
            font-size: 25px;
        }
    }
    .title-page{
        margin-bottom: 0px;
    }
}

// almacen

.wrap-detalles-prod{
    
    // position: relative;

    .detalles-prod{
        top: 10px;
        right: 150px;
        position: absolute;
        transform: scale(0);
        width: 700px;
        z-index: 3;
    }

    svg{
        margin-right: 4px;
        font-size: 20px;
    }

    svg:hover ~ .detalles-prod,
    .detalles-prod:hover{
        transform: scale(1);
        transition: .3s;
    }

    .producto{

        .prod-nombre{
            padding: 0px;
        }

        p, h4{
            text-align: center;
        }

        .prod-prec{
            padding: 0px 0px 0px 15px;
            h4{
                text-align: left;
            }
        }

        .prod-nombre{
            height: auto;
        }

    }

    

}

// productos

.producto{
    padding: 9px;
    position: relative;
    background-color: $box2;
    border-radius: 6px;

    .prod-nombre {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60px;
        padding-right: 15px;
    }

    // .prod-info{
        
    //     .prod-desc-int,
    //     p{
    //         text-align: center;
    //     }
    // }

    // .prod-detalles{
    //     .prod-det-int{
    //         text-align: center;
    //     }
    // }

    .prod-dd{

        position: absolute;
        top: 26px;
        right: 2px;

        svg{
            margin-right: 4px;
            font-size: 20px;
        }

        svg:hover ~ .dd-prod-int,
        .dd-prod-int:hover{
            transform: scale(1);
            transition: .3s;
        }

        .dd-prod-int{
            padding: 4px 13px 7px 13px;
            position: absolute;
            background-color: $background;
            z-index: 2;
            transform: scale(0);
            transition: 0.3s;
            border-radius: 6px;
            top: 0;
            right: 4px;
            box-shadow: 4px 5px 8px 1px #0000002f;
            border: 1px solid $color4;
            min-width: 170px;
            // width: 0;
            // height: 0;
            span, a{
                display: flex;
                width: 100%;
                margin: 5px 0;
                justify-content: left;
                align-items: center;
                font-size: 14px;
                cursor: pointer;
                color: $texto;
            }

        }
    }

    .prod-prec{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // text-align: center;
    }

    p,
    h4{
        margin: 0;
    }


    .prod-border{
        border-bottom: 1px solid #444d6a;
        padding: 0 0 9px 0;
        margin: 0 0 9px 0;
    }

}

// Locales

.wrap-locales{
    .locales{

        @include max-scroll(215px);

        .item-local{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px 50px;
            .item-local-nombre{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 200px;
                svg{
                    font-size: 40px;
                    color: $warning;
                    margin: 0 0 15px 0;
                }
                h4{
                    text-transform: uppercase;
                    // color: $info;
                    margin: 0 0 0 0;
                }    
            }           

            button{
                svg{
                    font-size: 23px;
                    // color: $primary;
                    margin: 0 0 0 0;
                }
            }

        }

    }

    .local{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // align-items: center;
        min-height: calc(100vh - 265px);
        .info-local{
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            .iconLocal{
                svg{
                    font-size: 80px;
                    color: $primary;
                }
            }
            
            h3{
                text-transform: uppercase;
                margin: 0;
            }
            p{
                margin: 0;
            }
            
            a, button{
                margin: 0 0 0 0;
                width: 150px;
                svg{
                    font-size: 23px;
                    // color: $primary;
                    margin: 0 0 0 0;
                }
            }
        }

        .btn-tabs{
            align-self: flex-start;
            button{
                width: 100%;
            }
        }

        .btn-links{
            align-self: flex-end;
        }
    }

}

// punto de venta
.punto-de-venta{

    .wrap-scroll-ventas{
        @include scroll(144px);

        .wrap-producto-venta{
            .producto-detalles{
                span{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 4px;
                    p{
                        margin: 0 0 10px 0;
                    }
                    h4{
                        color: $primary;
                        margin: 0 0 10px 0;
                    }
                }
            }

            .producto-precios{

                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px;

                span{
                    text-align: center;
                    h4{
                        color: $warning;
                    }
                }

            }

            .wrap-precios{
                label{
                    font-size: 17px;
                    font-weight: 700;
                }
            }

        }

        .box-no-productos-venta{
            height: calc(100vh - 335px);
            margin-bottom: 68px;
        }

    }

}

// lista punto de venta

.wrap-lista-venta{
    .lista-venta{

        min-height: 220px;

        // @include scroll(463px);

    }
}


// nuevo punto de venta

.vender{
    .ver-producto{
        // position: relative;
        @include min-scroll(144px);
        .buscar-producto{
            position: relative;
            height: 85.5px;
            .box-buscar-producto{
                position: relative;
            }
            .loading-lista-prod{
                padding-top: 0!important;
                top: 80px;
                width: 100%;
                position: absolute;
                background-color: $box;
                box-shadow: 0px 6px 10px 2px #222736;
                z-index: 3;
            }
            .lista-productos{
                padding-top: 0!important;
                top: 80px;
                width: 100%;
                position: absolute;
                display: none;
                // @include static-scroll(200px);
                background-color: $box;
                box-shadow: 0px 6px 10px 2px #222736;
                z-index: 3;
            }
            &:hover .lista-productos{
                display: block;
                @include static-scroll(200px);
            }
        }
        .info-prod-scroll1{
            @include scroll(358px);
        }
        .info-prod-scroll2{
            @include scroll(294px);
        }
        .info-producto{
            .stock-general-locales{
                position: relative;
                span {
                    color: $texto-red;
                    display: flex;
                    margin-bottom: 5px;
                    align-items: center;
                    svg{
                        font-size: 23px!important;
                    }
                    p {
                        margin: 0 6px 0 0;
                    }
                }
                h5{
                    color: $warning;
                }
                .box-stock-general{
                    @include static-scroll(104px);
                    width: 320px;
                    box-shadow: 4px 5px 8px 1px #0000002f;
                    border: 1px solid #595d67;
                    padding: 7px 13px;
                    border-radius: 6px;
                    box-sizing: border-box;
                    position: absolute;
                    background-color: #222736;
                    z-index: 2;
                    top: 0px;
                    right: 0px;
                    transform: scale(0);
                    transition: 0.3s;

                    span{                        
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        gap: 10;
                        margin: 0 0 3px 0!important;
                        h4{
                            color: $texto;
                            margin: 0!important;
                        }
                        p{
                            margin: 0!important;
                            color: $texto;
                            // font-weight: bold;
                        }
                    }
                }
            }

            .stock-general-locales:hover .box-stock-general{
                transform: scale(1);
                transition: .3s;
            }

            // .stock-general-locales:hover ~ .box-stock-general,
            // .box-stock-general:hover{
            //     transform: scale(1);
            //     transition: .3s;
            // }
        }

        .btns_anadir_prods{
            .total_subventa{
                h2{
                    font-size: 1.35em;
                }
            }
        }

        .ver-lista-short{
            @include scroll(144px);

            .tabla-lista-venta{
                @include scroll(346px);
            }

        }

        // .btn-add-lista-prod{
        //     position: absolute;
        //     width: 100%;
        // }

    }
    .ver-lista{
        @include scroll(144px);
        .box-venta-large{
            position: relative;
            height: 100%;
            .tabla-lista-large{
                // @include static-scroll(233px);
                min-height: 135px;
            }
            .acciones-venta{
                box-sizing: border-box;
                padding: 13px;
                position: fixed;
                width: calc(100% - 329px);
                bottom: 12px;
                right: 27px;
                background-color: $box;
                border-radius: 6px 6px 0px 6px;
            }
            .acciones-venta-vendedor{
                box-sizing: border-box;
                padding: 13px;
                position: fixed;
                width: calc(100% - 51px);
                bottom: 12px;
                right: 27px;
                background-color: $box;
                border-radius: 6px 6px 0px 6px;
            }
        }
    }
}





// caja
.cobrar{
    .descripcion-venta{
        .lista-productos-pedido{
            min-height: 220px;
            table{
                .nombre-prod-perdido{
                    width: 130px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        
        .formas-pago{
            .box-dividir-precios{
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                
                .delete-forma-pago{
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                }
            }
            .add-precio{
                .box-add-precio{
                    // height: 48.5px;
                    svg{
                        font-size: 23px;
                    }
                }
            }
        }

        .codigo-venta-cobrar{ // *** aqui
            // background-color: red;
            // text-align: center;
            position: relative;
            .observaciones-cobrar{
                margin-left: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    color: $warning;
                    font-size: 1.5em;
                    &:hover ~ .msj-obs-cobrar{
                        transform: scale(1);
                        transition: .3s;
                    } 
                }
                .msj-obs-cobrar{
                    transform: scale(0);
                    transition: .3s;
                    top: 35px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    .box-msj-obs-cobrar{
                        display: inline-block;
                        box-sizing: border-box;
                        padding: 7px;
                        width: 400px;
                        box-shadow: 4px 5px 8px 1px #0000002f;
                        border: 1px solid $color4;
                        background-color: $border-input2;
                        border-radius: 6px;
                        h4{
                            margin: 0;
                        }
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
        
        // .credito-anticipo{
        //     .box-credito-anticipo{
        //         display: grid;
        //         grid-template-columns: 1fr 2fr 1fr;
        //     }
        // }

        // .wrap-formas-pago{
        //     .desc-formas-pago{
        //         .box-desc-formas-pago{
        //             .info-cliente{

        //             }
        //         }
        //     }
        // }
    }
}


// ingresar productos
.form-ingreso-productos{
    .box-lista-productos{
        min-height: calc(100vh - 504px)
    }

    .btn-reset-danger{
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        color: $danger;
        font-size: 1.6em;
        cursor: pointer;
    }
}

// crear producto

.nuevo-producto{
    .wrap-crear-producto{
        // @include min-scroll(144px);
        min-height: calc(100vh - 144px);
        .check-crear-producto{
            width: 100%;
            position: absolute;
            top: 25px;
            right: 25px;
            .check-form{
                display: flex;
                justify-content: right;
                align-items: center;
                label{
                    margin: 0 7px 0 0;
                }
            }
        }
    }
    
}

.wrap-gestion-codigo{
    .gestion-codigo{
        width: 60%;
        margin: 0 auto;
        .wrap-barcode{
            width: 280px;
            display: inline-block;
        }
    }
}

// crear cliente
.nuevo-cliente{
    .label-documento{
        label{
            vertical-align: middle;
        }
        svg{
            vertical-align: middle;
            color: $success;
        }
    }
}



// reportes
// ingreso de productos

.ingreso-prod-repo{
    .ingresos-item{
        .lista-ingreso-productos{

            .box-lista-ingreso-productos{
                top: 10px;
                // top: 45px;
                right: -10px;
                position: absolute;
                transform: scale(0);
                width: 220px;
                z-index: 3;
                background-color: $box2;
                border-radius: 6px;
                border: 1px solid $primary;
                padding: 10px 10px 10px 0px;
                
                li{
                    margin: 0 0 0 35px;
                    padding: 0px 0px 4px 0px;
                }
            }
        
            svg{
                margin-right: 4px;
                font-size: 20px;
                cursor: pointer;
            }
        
            svg:hover ~ .box-lista-ingreso-productos,
            .box-lista-ingreso-productos:hover{
                transform: scale(1);
                transition: .3s;
            }


        }
    }

}

.producto-dropdown-info-ingrso{

    position: relative;

    .producto-ddbox-info-ingrso{
        top: 0px;
        left: 0px;
        position: absolute;
        transform: scale(0);
        width: 430px;
        z-index: 3;
        background-color: $box2;
        border-radius: 6px;
        border: 1px solid $primary;
        padding: 13px;
        margin: 0;

        span{
            margin-bottom: 5px;
            p, h4{
                margin: 0;
            }
        }

    }

    svg{
        margin-right: 4px;
        font-size: 20px;
        cursor: pointer;
    }

    svg:hover ~ .producto-ddbox-info-ingrso,
    .producto-ddbox-info-ingrso:hover{
        transform: scale(1);
        transition: .3s;
    }
    
}



// **** Generales ****

// modal transferir productos
// .lista-transf{
//     @include static-scroll(300px);
// }

.enviar-transferencia{
    .buscar-productos-transf{
        @include static-scroll(380px);
        .fill-txt-buscar-prod{
            margin-bottom: 62px;
        }
    }
    .lista-productos-transf{
        @include static-scroll(380px);
    }

}


// modal recibir productos

.cantidad-envios{
    
    margin: 0;
    padding: 0;
    background-color: red;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 50%;

    span{
        font-size: 12px;
        color: #fff;
        margin: 2px 0 0 0;
        padding: 0;

        display: flex;
    }
}

.modal-transferencia{
    
    .no-envios{
        height: calc(100vh - 230px);
    }

    .recibir-transferencia{

        .transferencia-detalles{

            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;

            .transf-detalles-head{
                span{
                    display: flex;
                    
                    p{ 
                        margin: 0; 
                        color: $info;
                    }
                    h4{ 
                        margin: 0;
                        min-width: 130px;
                    }
                }
            }

            .transf-detalles-body{
                min-height: calc(100vh - 605px);

                // .detalles-transaccion{
                //     display: grid;
                //     grid-template-columns: 1fr 1fr 6fr 4fr;
                //     padding: 10px 0;
                // }
            }

            .transf-detalles-footer{
                align-self: flex-end;
            }
        }

        @include scroll(237px);

    }
}

// cards

.wrap-card-uno{
    .card-uno{
        .info-card-uno{
            h4{
                height: 50px;
                // display: flex;
                // align-items: center;
            }
            h2{
                font-size: 20px;
                margin: 0 0 0 0;
            }
        }

        .icon-card-uno{
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                font-size:50px;
            }
        }
    }
}

.vacio,
.cargando,
.no-registros{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 200px;
    text-align: center;
    h4{
        font-size: 18px;
        margin-bottom: 30px;
        color: $info;
    }
    
    svg{
        color: $primary;
        font-size: 50px;
    }
}

.no-venta{
    height: calc(100vh - 328px)!important;
}

.vacio-heightauto{
    min-height: auto!important;
}

.rotarIcon{
    svg{
        color: $primary;
        font-size: 50px;
        animation: rotate 5s infinite;
    }
}

.rotate-icon-solo{
    animation: rotate 5s infinite;
    margin: 0;
}


// btn add

.add-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .big-icon-add{
        svg{
            cursor: pointer;
            font-size: 60px;
        }
    }
    
}

// box fixed

.box-fixed{
    position: fixed;
    bottom: 30px;
    right: 20px;
    margin: 0;
}


// roles
.seller{
    .box-seller{
        padding: 11px 22px;
    }
    .no-caja{
        height: calc(100vh - 110px);
    }
}

.supervisor{
    .items-menu-supervisor{
        height: 135px;
        .load-items-menu{ 
            height: 100%;
        }
    }
}


// impresiones

// @media print {
//     .imprimir-comprobante{
//         h3{
//             font-size: 30px;

//         }
//     }
//     // @page { margin: 0; }
//     // body { margin: 2cm; }
// }



// background

    // background: $background;
    // background: radial-gradient(circle, #25196f 0%, #1d1565 100%);
    // background: radial-gradient(circle, #2d3447 0%, #222736 100%);


    // background-image: linear-gradient(245deg, rgba(27, 27, 27, .04), rgba(27, 27, 27, .04) 93%, rgba(92, 92, 92, .04) 0, rgba(92, 92, 92, .04)),
    // linear-gradient(44deg, rgba(11, 11, 11, .04), rgba(11, 11, 11, .04) 39%, hsla(0, 0%, 72.9%, .04) 0, hsla(0, 0%, 72.9%, .04)),
    // linear-gradient(134deg, hsla(0, 0%, 69.8%, .04), hsla(0, 0%, 69.8%, .04) 95%, hsla(0, 0%, 92.9%, .04) 0, hsla(0, 0%, 92.9%, .04)),
    // linear-gradient(322deg, rgba(56, 56, 56, .04), rgba(56, 56, 56, .04) 58%, hsla(0, 0%, 91%, .04) 0, hsla(0, 0%, 91%, .04)),
    // linear-gradient(139deg, rgba(51, 51, 51, .04), rgba(51, 51, 51, .04) 62%, rgba(35, 35, 35, .04) 0, rgba(35, 35, 35, .04)),
    // linear-gradient(252deg, rgba(9, 9, 9, .04), rgba(9, 9, 9, .04) 39%, hsla(0, 0%, 68.2%, .04) 0, hsla(0, 0%, 68.2%, .04)),
    // linear-gradient(229deg, hsla(0, 0%, 94.5%, .04), hsla(0, 0%, 94.5%, .04) 2%, hsla(0, 0%, 54.9%, .04) 0, hsla(0, 0%, 54.9%, .04)),
    // linear-gradient(223deg, rgba(82, 82, 82, .04), rgba(82, 82, 82, .04) 36%, hsla(0, 0%, 89.8%, .04) 0, hsla(0, 0%, 89.8%, .04)),
    // linear-gradient(90deg, #060D31, #030611);