// :root{ }

// global
// $background: #222736;
$background: #222736;
$box: #2a3042;
$box2: #262b3c;
$boxT: #2a3042d1;

$texto: #a6b0cf;
$texto-red: #e83e8c;

$color1: #e2e2e2;
$color2: #a6b0cf;
$color3: #72849a;
$color4: #595d67;


$primary: #556ee6;
$secundary: #c3cbe4;
$success: #34c38f;
$info: #50a5f1;
$warning: #f1b44c;
$danger: #f46a6a;

$font-size: 15px;

$bg-input: #31384d;
$border-input: #36404a;

$bg-input2: #272d40;
$border-input2: #222736;


// specific
$menu-width: 250px;

